<div class="container">
    <h3 class="text-center">Lista de Artistas</h3>
    <%-locals.flash%>
    <div class="row artistEdit" id="list">
        <%artists.forEach(function(artist){ %>
        <div class="col-md-4">
            <div class="card mb-2">
                <a href="#" class="mx-auto" data-external="<%=artist.external_id%>" data-toggle="modal"
                    data-target="#id<%=artist.external_id%>">
                    <img class="card-img-top" style="height:250px; width:250px"
                        src="http://localhost:3000/artist/get-image-artist/<%=artist.image%>" alt="">
                </a>
                <p class="h4 text-center"><%=artist.name%></p>
                <div class="card-body mx-auto">
                    <div class="buttons">
                        <button type="button" data-toggle="modal" data-target="#id<%=artist.external_id%>"
                            data-external="<%=artist.external_id%>" class="btn btn-success">Editar</button>
                        <button type="button" data-toggle="modal" data-target="#id<%=artist.id%>"
                            data-external="<%=artist.external_id%>" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <!-- Modal para eliminar artista -->
                <div class="modal fade" id="id<%=artist.id%>" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Eliminar Artista</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/artist/deleteArtist/<%=artist.external_id%>" method="POST">
                                    <input name="artist" value="<%=artist.id%>" hidden>
                                    <p class="card-title text-center">¿Está seguro de eliminar el artista
                                        <%=artist.name%>?</p>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Eliminar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal para editar artista -->
                <div class="modal fade" id="id<%=artist.external_id%>" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Editar Artista</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/artist/updateArtist/<%=artist.external_id%>" method="POST">
                                    <div class="form-group">
                                        <input type="text" value="<%=artist.name%>" name="name"
                                            placeholder="Nombre del Artista" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="description" placeholder="Descripción del Artista" cols="30"
                                            rows="10" class="form-control"><%=artist.description%></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">Editar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%});%>
    </div>
</div>