<div class="container">
    <h3 class="text-center"><%=playlist.title%></h3>
    <p class="text-center h6"><%=playlist.description%></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Título Canción</th>
                <th>Nro. Reproducciones</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <% songs.forEach(function(song){ %>
            <tr data-external="<%=song.external_id%>" class="play">
                <td><%=song.title%></td>
                <td><%=song.listeners%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>